/* ตั้งค่าทั่วไป */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lilita One', cursive;
}

/* พื้นหลัง */
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEPnwee1m1yienKojBSby_7xLVdaN2Wz39tVZ9ymX6-Uc-tw-J5YT-VDQM&s=10.jpg'); /* เปลี่ยนภาพตามที่คุณต้องการ */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* กล่อง login */
.login-box {
  background: rgba(221, 19, 19, 0.8); /* สีพื้นหลังโปร่งใสเล็กน้อย */
  padding: 100px 150px;                  /* ขยายพื้นที่ภายในกล่อง */
  border-radius: 20px;                 /* มุมโค้ง */
  backdrop-filter: blur(8px);          /* เอฟเฟกต์เบลอพื้นหลัง */
  box-shadow: 0 0 20px rgba(0,0,0,0.2); /* เงาเบาๆ */
  width: 1000px;                        /* ขยายความกว้างกล่อง */
  max-width: 90%;
  text-align: center;
  margin-top : 0px;                      /* ป้องกันล้นจอบนอุปกรณ์เล็ก */
}



/* หัวข้อ LOGIN */
.login-box h2 {
  font-size: 170px;
  color: rgb(0, 0, 0);
  text-shadow: 8px 8px #4444447c;
  margin-bottom: 30px;
  text-align: center;
  margin-top : 0px;
  
}

/* ช่องกรอกข้อมูล */
.login-box input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background: #f0f0f0;
  font-size: 25px;
}

/* ปุ่ม login */
.login-box button {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #4b58d3, #1e2024);
  color: rgba(178, 173, 238, 0.829);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.login-box button:hover {
  transform: scale(1.05);
}

/* ลิงก์ด้านล่าง */
.login-box .links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-box .links a {
  color: rgb(17, 16, 16);
  text-decoration: none;
  font-size: 30px;
}
